package ${package}.${moduleName}.controller;

import java.util.Arrays;
import java.util.Map;

import com.claim.dispatch.po.Workinggroup;
import com.claim.dispatch.service.WorkinggroupService;
import com.claim.dispatch.util.page.PageUtils;
import com.claim.dispatch.util.page.R;
import org.springframework.web.bind.annotation.*;

import javax.annotation.Resource;
import java.util.Arrays;
import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@RestController
@RequestMapping("${moduleName}/${pathName}")
public class ${className}Controller {
    @Resource(name="${classname}ServiceImpl")
    private ${className}Service ${classname}Service;

    /**
     * 列表
     */
    @GetMapping("/list")
    public R list(@RequestParam Map<String, Object> params){
        PageUtils page = ${classname}Service.queryPage(params);

        return R.ok().put("page", page);
    }


    /**
     * 信息
     */
    @GetMapping("/info/{${pk.columnName}}")
    public R info(@PathVariable("${pk.columnName}") ${pk.attrType} ${pk.columnName}){
		${className}Entity ${classname} = ${classname}Service.getById(${pk.columnName});

        return R.ok().put("${classname}", ${classname});
    }

    /**
     * 保存
     */
    @PostMapping("/save")
    public R save(@RequestBody ${className}Entity ${classname}){
		${classname}Service.save(${classname});

        return R.ok();
    }

    /**
     * 修改
     */
    @PostMapping("/update")
    public R update(@RequestBody ${className}Entity ${classname}){
		${classname}Service.updateById(${classname});

        return R.ok();
    }

    /**
     * 删除
     */
    @PostMapping("/delete")
    public R delete(@RequestBody ${pk.attrType}[] ${pk.columnName}s){
		${classname}Service.removeByIds(Arrays.asList(${pk.columnName}s));

        return R.ok();
    }

}
